{
  "plugins": ["import", "prettier"],
  "extends": [
      "airbnb-base",
      "prettier"
  ],
  "settings": {
      "import/resolver": {
          "node": {
              "extensions": [".js"]
          }
      }
  },
  "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "jquery": false
  },
  "rules": {
      "no-console": 0,
      "no-debugger": 1,
			"no-lone-blocks": 2,
			"guard-for-in":0,
			"no-restricted-syntax":"off",
      "prettier/prettier": [
          "error",
          {
              "singleQuote": false
          }
      ],
      "consistent-return":"off",
      "no-use-before-define":"off",
      "no-plusplus":"off",
      "prefer-destructuring" :"off",
      "no-useless-constructor":"off",
      "constructor-super":"off",
      "no-underscore-dangle":"off",
      "no-this-before-super":"off",
      "default-case":"off",
      "no-case-declarations":"off",
      "no-bitwise":"off",
      "no-param-reassign":"off",
      "no-shadow":"off"
  },
  "globals": {
      "Atomics": true,
      "SharedArrayBuffer": true
  }
}